.company_volt {
    width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.company_volt .title {
    display: flex;
    align-items: center;
}

.company_volt .title .image_volt {
    width: 50px;
    height: 50px;
}

.company_volt .title .main_text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.02em;
    color: #000000;
}

.company_volt .contents {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: left;
}