.Interview_compnay {
    width: 1480px;
    height: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Interview_compnay .company_text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.02em;
    color: #000000;
}

.Interview_compnay .nexon {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .LG {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .CJ {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .samsung {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .sinhan {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .volt {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .kakao {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .hyundai {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview_compnay .things {
    width: 400px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}