.Interview {
    width: 1480px;
    height: 777px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Interview .interview_text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.02em;
    color: #000000;
}

.Interview .character {
    width: 620px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.Interview .company {
    width: 620px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}