.Mypage {
    width: 1480px;
    height: 897px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Mypage .my_profile {
    width: 620px;
    height: 358px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    background: white;
}

.Mypage .secession {
    width: 620px;
    height: 358px;
    background: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: flex-end;
}

.Mypage .secession .image_secession {
    width: 115px;
    height: 259px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.Mypage .secession .secession_right {
    width: 200px;
    height: 240px;
    text-align: left;
    margin-left: 130px;
    margin-bottom: 20px;
}

.Mypage .mypage_text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.02em;
    color: #000000;
}

.Mypage .sub_text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #868686;
}

.Mypage .secession_bt {
    width: 130px;
    height: 50px;
    background: #312E2B;
    border-radius: 15px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 25px;
}