.Navbar {
    border-bottom: 1px solid #D9D9D9;
}

.Navbar .navbar_header{
    width: 1480px;
    height: 72px;
    margin: 0 auto;
}

.Navbar .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar .main .logo {
    width: 260px;
    height: 32px;
    cursor: pointer;
}

.Navbar .main .menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.Navbar .go_home {
    width: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Navbar .go_hacks {
    width: 60px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Navbar .go_algorithm {
    width: 100px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Navbar .go_interview {
    width: 60px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Navbar .imformation_user {
    display: flex;
    align-items: center;
}

.Navbar .imformation_user .check_login {
    cursor: pointer;
}

.Navbar .imformation_user .user {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.Navbar .go_home:hover {
    color: #8B84D7;
}

.Navbar .go_home:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 37.1%;
    transform: translateX(-50%);
    width: 2%;
    height: 3px;
    background-color: #8B84D7;
    top: 69px;
    transition: all;
}

.Navbar .go_hacks:hover {
    color: #8B84D7;
}

.Navbar .go_hacks:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 47.5%;
    transform: translateX(-50%);
    width: 3.5%;
    height: 3px;
    background-color: #8B84D7;
    top: 69px;
    transition: all;
}

.Navbar .go_algorithm:hover {
    color: #8B84D7;
}

.Navbar .go_algorithm:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 59.5%;
    transform: translateX(-50%);
    width: 5.8%;
    height: 3px;
    background-color: #8B84D7;
    top: 69px;
    transition: all;
}

.Navbar .go_interview:hover {
    color: #8B84D7;
}

.Navbar .go_interview:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 71.4%;
    transform: translateX(-50%);
    width: 3.3%;
    height: 3px;
    background-color: #8B84D7;
    top: 69px;
    transition: all;
}

.Navbar .navbar_header .main .imformation_user .user {
    margin-left: 15px;
}